{#
  Copyright The OpenTelemetry Authors
  SPDX-License-Identifier: Apache-2.0
  This file is:
  - a Jinja template,
  - used to generate semantic conventions,
  - using weaver.
  For doc on the template syntax:
  https://jinja.palletsprojects.com/en/3.0.x/
  For doc on the semantic conventions:
  https://github.com/open-telemetry/semantic-conventions
  For doc on weaver:
  https://github.com/open-telemetry/weaver
#}
{%- if group.signal_type == "metric" -%}{{ group.name }} {{ params.test }}
{%- elif group.signal_type == "event" -%}{{ group.name }} {{ params.test }}
{%- elif group.signal_type == "span" -%}{{ group.type }} {{ params.test }}
{%- elif group.signal_type == "entity" -%}{{ group.type }} {{ params.test }}
{%- elif group.signal_type == "attribute_group" -%}{{ group.id }}
{%- else -%}Unknown Snippet {{ params.test }}
{%- endif %}