{% import "health_macros.j2" as macros %}
{% if ctx.attributes is defined %}
{# This is a HealthReport object #}
{{ ("Health Report") | ansi_bright_white | ansi_bold }}
{{ ("=============") | ansi_bright_white | ansi_bold }}

{{ macros.display_statistics(ctx.statistics) }}

{% for result in ctx.attributes %}
{{ macros.display_attribute_advice(result) }}
{% endfor %}
{% elif ctx.all_advice is defined %}
{# This is a HealthAttribute object #}
{{ macros.display_attribute_advice(ctx) }}
{%- elif ctx.total_attributes is defined %}
{# This is a HealthStatistics object #}
{{ macros.display_statistics(ctx) }}
{% endif %}