{{- template.set_file_name("lib.rs") -}}

/*
 * Copyright The OpenTelemetry Authors
 * SPDX-License-Identifier: Apache-2.0
 */

//! # OpenTelemetry Semantic Convention Attributes

{% for group in ctx %}
{{ group.brief | comment_with_prefix("/// ") }}
pub mod {{ group.prefix | snake_case }};
{%- endfor %}