{% macro display_statistics(statistics) %}
{{ ("Attribute samples") | ansi_blue | ansi_bold }}
  - total: {{ statistics.total_attributes }}
  - no advice: {{ statistics.no_advice_count }}
{% for key, value in statistics.highest_advisory_counts.items() %}
  - {{ key }}: {{ value }}
{% endfor %}

{{ ("Advisories given") | ansi_blue | ansi_bold }}
  - total: {{ statistics.total_advisories }}
{%- if statistics.total_advisories > 0 %}  
  by advisory:
{% for key, value in statistics.advisory_counts.items() %}
  - {{ key }}: {{ value }}
{% endfor %}
  by key:
{% for key, value in statistics.advice_key_counts.items() %}
  - {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro display_attribute_advice(result) %}
{% set highest_advisory = result.highest_advisory %}
{% if highest_advisory == "information" or not highest_advisory %}
{{ result.sample_attribute.name | ansi_bright_green }}{% if result.sample_attribute.value %} = {{ result.sample_attribute.value }}{% endif %}
{% elif highest_advisory == "improvement" %}
{{ result.sample_attribute.name | ansi_bright_yellow }}{% if result.sample_attribute.value %} = {{ result.sample_attribute.value }}{% endif %}
{% else %}
{{ result.sample_attribute.name | ansi_bright_red }}{% if result.sample_attribute.value %} = {{ result.sample_attribute.value }}{% endif %}
{% endif %}

  {% for advice in result.all_advice %}
    {% if advice.advisory == "information" %}
       - {{ advice.key ~ ": " ~ (advice.value) | ansi_green }} - {{ advice.message }}
    {% elif advice.advisory == "improvement" %}
       - {{ advice.key ~ ": " ~ (advice.value) | ansi_yellow }} - {{ advice.message }}
    {% else %}
       - {{ advice.key ~ ": " ~ (advice.value) | ansi_red }} - {{ advice.message }}
    {% endif %}
  {% endfor %}
{% endmacro %}