{% macro display_statistics(statistics) %}
{{ ("Attribute samples") | ansi_blue | ansi_bold }}
  - total: {{ statistics.total_attributes }}
  - no advice: {{ statistics.no_advice_count }}
{% for key, value in statistics.highest_advice_level_counts.items() %}
  - {{ key }}: {{ value }}
{% endfor %}

{{ ("Advisories given") | ansi_blue | ansi_bold }}
  - total: {{ statistics.total_advisories }}
{%- if statistics.total_advisories > 0 %}  
  - advice level:
{% for key, value in statistics.advice_level_counts.items() %}
    - {{ key }}: {{ value }}
{% endfor %}
  - advice type:
{% for key, value in statistics.advice_type_counts.items() %}
    - {{ key }}: {{ value }}
{% endfor %}
{% endif %}

{{ ("Registry coverage") | ansi_blue | ansi_bold }}
  - attributes seen: {{ (statistics.registry_coverage * 100) | round(2) }}%
{% endmacro %}

{% macro display_attribute_advice(result) %}
{% set highest_advice_level = result.highest_advice_level %}
{% if highest_advice_level == "information" or not highest_advice_level %}
{{ result.sample.attribute.name | ansi_bright_green }}{% if result.sample.attribute.value %} = {{ result.sample.attribute.value }}{% endif %}
{% elif highest_advice_level == "improvement" %}
{{ result.sample.attribute.name | ansi_bright_yellow }}{% if result.sample.attribute.value %} = {{ result.sample.attribute.value }}{% endif %}
{% else %}
{{ result.sample.attribute.name | ansi_bright_red }}{% if result.sample.attribute.value %} = {{ result.sample.attribute.value }}{% endif %}
{% endif %}

  {% for advice in result.all_advice %}
    {% if advice.advice_level == "information" %}
       - {{ advice.advice_type ~ ": " ~ (advice.value) | ansi_green }} - {{ advice.message }}
    {% elif advice.advice_level == "improvement" %}
       - {{ advice.advice_type ~ ": " ~ (advice.value) | ansi_yellow }} - {{ advice.message }}
    {% else %}
       - {{ advice.advice_type ~ ": " ~ (advice.value) | ansi_red }} - {{ advice.message }}
    {% endif %}
  {% endfor %}
{% endmacro %}