{%- set item_types = ["registry_attributes", "metrics", "events", "spans", "resources"] %}

{{ ("Schema Changes between `" ~ ctx.head.semconv_version ~ "` and `" ~ ctx.baseline.semconv_version ~ "`") | ansi_red | ansi_bold }}

{% for item_type in item_types %}
{% if ctx.changes[item_type] %}
{{ ("List of Changes to " ~ (item_type | title_case)) | ansi_cyan | ansi_bold }}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'added') | sort(attribute='name') -%}
{% if attributes -%}    
{{ ("Added " ~ (item_type | title_case) ~ ":") | ansi_bold | ansi_green }}
    {% for added in attributes %}
  - Add {{ added.name | ansi_bright_white }}
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'renamed') | sort(attribute='name') -%}
{% if attributes -%}    
{{ ("Renamed " ~ (item_type | title_case) ~ ":") | ansi_bold | ansi_green }}
    {% for renamed in attributes %}
  - Rename {{ renamed.old_name | ansi_bright_white }} to {{ renamed.new_name | ansi_bright_white }} (Note: {{ renamed.note }})
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'obsoleted') | sort(attribute='name') -%}
{% if attributes -%}    
{{ ("Obsoleted " ~ item_type ~ ":") | ansi_bold | ansi_green }}
    {% for obsoleted in attributes %}
  - {{ obsoleted.name | ansi_bright_white }} (Note: {{ obsoleted.note }})
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'uncategorized') | sort(attribute='name') -%}
{% if attributes -%}
{{ ("Uncategorized " ~ item_type ~ ":") | ansi_bold | ansi_green }}
    {% for uncategorized in attributes %}
  - {{ uncategorized.name | ansi_bright_white }} (Note: {{ uncategorized.note }})
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'removed') | sort(attribute='name') -%}
{% if attributes -%}
{{ ("Removed " ~ item_type ~ ":") | ansi_bold | ansi_green }}
    {% for removed in attributes %}
  - {{ removed.name | ansi_bright_white }}
    {% endfor %}

{% endif %}
{% endif %}
{% endfor %}
