### Body Fields

{% if event.body -%}
{% for bodyField in event.body.fields -%}
#### Field `{{ bodyField.name }}`

{{ bodyField.brief }}

{%- if bodyField.note %}
{{ bodyField.note | trim }}
{% endif %}

{%- if bodyField.requirement_level == "required" %}
- Requirement Level: Required
{%- elif bodyField.requirement_level.conditionally_required %}
- Requirement Level: Conditionally Required - {{ bodyField.requirement_level.conditionally_required }}
{%- elif bodyField.requirement_level == "recommended" %}
- Requirement Level: Recommended
{%- else %}
- Requirement Level: Optional
{%- endif %}

{%- if bodyField.type is mapping %}
- Type: Enum [{{ bodyField.type.members | map(attribute="value") | join(", ") | trim }}]
{%- else %}
- Type: {{ bodyField.type }}
{%- endif %}

{%- if bodyField.examples %}
{%- if bodyField.examples is sequence %}
- Examples: {{ bodyField.examples | pprint }}
{%- else %}
- Examples: {{ bodyField.examples }}
{%- endif %}
{%- endif %}

{%- if bodyField.deprecated %}
- Deprecated: {{ bodyField.deprecated }}
{%- endif %}

{%- if bodyField.stability %}
- Stability: {{ bodyField.stability | capitalize }}
{%- endif %}

{% endfor -%}
{%- else -%}

No event body defined.

{% endif %}