{{- template.set_output_type("stdout") }}

{{ "Diagnostic report" | bold | red }}:
{% for item in ctx %}
{%- if item.error.type == "policy_violation" %}
Violation: {{ item.error.violation.id | bold | green }}
  - Category         : {{ item.error.violation.category | cyan }}
  - Type             : {{ item.error.violation.type | cyan }}
  - SemConv group    : {{ item.error.violation.group | cyan }}
  - SemConv attribute: {{ item.error.violation.attr | cyan }}
  - Provenance: {{ item.error.provenance | cyan }}
{% else %}
{{ item.diagnostic.ansi_message }}
{% endif %}
{%- endfor %}