{% for attributes_root_namespace in ctx %}
{{ ("Examples of comments for group " ~ attributes_root_namespace.root_namespace) | comment(comment_format="rust", prefix="//! ") }}

    {% for attr in attributes_root_namespace.attributes %}
  {{ [attr.brief, "\n\n", attr.note, "\n", attr.unknown] | comment(comment_format="rust", indent=2) }}
  const {{ attr.name | screaming_snake_case }}: &str = "";

    {% endfor %}

{% endfor %}