{%- set item_types = ["attributes", "metrics", "events", "spans", "resources"] -%}
# Schema Changes between {{ ctx.baseline.semconv_version }} and {{ ctx.head.semconv_version }}
{% for item_type in item_types %}
{% if ctx.changes[item_type] %}
## {{ item_type | title_case }}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'added') | sort(attribute='name') -%}
{% if attributes -%}    
### New {{ item_type }}:
    {% for added in attributes %}
- Add {{ added.name }}
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'renamed_to_new') | sort(attribute='name') -%}
{% if attributes -%}    
### Rename to new {{ item_type }}:
    {% for renamed in attributes %}
- Rename {{ renamed.old_names | join(', ') }} to {{ renamed.new_name }}
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'renamed_to_existing') | sort(attribute='name') -%}
{% if attributes -%}
### Rename to existing {{ item_type }}:
    {% for renamed in attributes %}
- Rename {{ renamed.old_names | join(', ') }} to {{ renamed.current_name }}
    {% endfor %}

{% endif %}
{% set attributes = ctx.changes[item_type] | selectattr('type', 'equalto', 'deprecated') | sort(attribute='name') -%}
{% if attributes -%}
### Deprecated {{ item_type }}:
    {% for deprecated in attributes %}
- {{ deprecated.name }} (Note: {{ deprecated.note }})
    {% endfor %}

{% endif %}
{% endif %}
{% endfor %}
