{%- if metric.brief %}
{{ metric.brief | comment_with_prefix("/// ") }}
{%- endif %}
{%- if metric is experimental %}
#[cfg(feature = "semconv_experimental")]
{%- endif %}
pub fn create_u64_{{ metric.metric_name | snake_case }}(meter: &opentelemetry::metrics::Meter) -> opentelemetry::metrics::Gauge<u64> {
    meter.u64_gauge("{{ metric.metric_name }}")
        .with_description("{{ metric.brief }}")
        .with_unit(opentelemetry::metrics::Unit::new("{{ metric.unit }}"))
        .init()
}

{% if metric.brief %}
{{ metric.brief | comment_with_prefix("/// ") }}
{%- endif %}
{%- if metric is experimental %}
#[cfg(feature = "semconv_experimental")]
{%- endif %}
pub fn create_i64_{{ metric.metric_name | snake_case }}(meter: &opentelemetry::metrics::Meter) -> opentelemetry::metrics::Gauge<i64> {
    meter.i64_gauge("{{ metric.metric_name }}")
        .with_description("{{ metric.brief }}")
        .with_unit(opentelemetry::metrics::Unit::new("{{ metric.unit }}"))
        .init()
}


{% if metric.brief %}
{{ metric.brief | comment_with_prefix("/// ") }}
{%- endif %}
{%- if metric is experimental %}
#[cfg(feature = "semconv_experimental")]
{%- endif %}
pub fn create_f64_{{ metric.metric_name | snake_case }}(meter: &opentelemetry::metrics::Meter) -> opentelemetry::metrics::Gauge<f64> {
    meter.f64_gauge("{{ metric.metric_name }}")
        .with_description("{{ metric.brief }}")
        .with_unit(opentelemetry::metrics::Unit::new("{{ metric.unit }}"))
        .init()
}
