# Events: `{{ ctx.event_namespace }}`

This document describes the `{{ ctx.event_namespace }}` events.

> for event in ctx.events <
## `{{ event.id }}`

{{ event.brief | default("") | trim }}

> if event.note <
{{ event.note | trim }}

> endif <
| Property | Value |
|----------|-------|
> if event.name <
| Event Name | `{{ event.name }}` |
> endif <
> if event.stability <
| Stability | {{ event.stability | capitalize }} |
> endif <
> if event.deprecated <
| Deprecated | {{ event.deprecated.note }} |
> endif <

> if event.attributes <
### Attributes

| Attribute | Type | Required | Description |
|-----------|------|----------|-------------|
> for attr in event.attributes | attribute_sort <
> if attr.type is mapping <
| `{{ attr.name }}` | Enum | > if attr.requirement_level == "required" <**Yes**> elif attr.requirement_level.conditionally_required <Conditional> else <No> endif < | {{ attr.brief | default("") | trim | replace("\n", " ") }} |
> else <
| `{{ attr.name }}` | `{{ attr.type }}` | > if attr.requirement_level == "required" <**Yes**> elif attr.requirement_level.conditionally_required <Conditional> else <No> endif < | {{ attr.brief | default("") | trim | replace("\n", " ") }} |
> endif <
> endfor <

> endif <
> endfor <
