> import "_macros.j2" as macros <
# Spans: `{{ ctx.root_namespace }}`

This document describes the `{{ ctx.root_namespace }}` spans.

> for span in ctx.spans <
## `{{ span.id }}`

{{ span.brief | default("") | trim }}

> if span.note <
{{ span.note | trim }}

> endif <
| Property | Value |
|----------|-------|
> if span.span_kind <
| Span Kind | {{ span.span_kind }} |
> endif <
> if span.stability <
| Stability | {{ span.stability | capitalize }} |
> endif <
> if span.deprecated <
| Deprecated | {{ span.deprecated.note }} |
> endif <

> if span.attributes <
### Attributes

| Attribute | Type | Requirement Level | Description |
|-----------|------|-------------------|-------------|
> for attr in span.attributes | attribute_sort <
| `{{ attr.name }}` | {{ macros.attribute_type(attr) }} | {{ macros.requirement_level(attr.requirement_level) }} | {{ macros.brief_inline(attr.brief) }} |
> endfor <

> endif <
> endfor <
