[package]
name = "weaver_forge"
version = "0.1.0"
authors.workspace = true
repository.workspace = true
license.workspace = true
publish.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
weaver_diff = { path = "../weaver_diff" }
weaver_common = { path = "../weaver_common" }
weaver_resolver = { path = "../weaver_resolver" }
weaver_resolved_schema = { path = "../weaver_resolved_schema" }
weaver_semconv = { path = "../weaver_semconv" }

minijinja = { version = "2.0.1", features = ["loader", "custom_syntax", "debug", "json", "macros"] }
convert_case = "0.6.0"
jaq-core = "1.2.1"
jaq-std = "1.2.1"
jaq-interpret = "1.2.1"
jaq-parse = "1.0.2"
indexmap = "2.2.6"
regex = "1.10.4"

itertools.workspace = true
thiserror.workspace = true
serde.workspace = true
serde_yaml.workspace = true
serde_json.workspace = true
rayon.workspace = true
walkdir.workspace = true
globset.workspace = true
miette.workspace = true

[dev-dependencies]
opentelemetry = { version = "0.22.0", features = ["trace", "metrics", "logs", "otel_unstable"] }
opentelemetry_sdk = { version = "0.22.1", features = ["trace", "metrics", "logs"] }
opentelemetry-stdout = { version = "0.3.0", features = ["trace", "metrics", "logs"] }

