// SPDX-License-Identifier: Apache-2.0

package attribute

import (
    "go.opentelemetry.io/otel/attribute"
)

{% set attrs = schema | unique_attributes(recursive=true) -%}
// Declaration of all attribute keys.
var (
{%- for attr in attrs %}
    {{ attr.id | field_name }}Key = attribute.Key("{{attr.id}}")
{%- endfor %}
)