
{{ ("Summary of Schema Changes between " ~ ctx.head.semconv_version ~ " and " ~ ctx.baseline.semconv_version) | ansi_red | ansi_bold }}

{% set item_types = ["registry_attributes", "metrics", "events", "spans", "resources"] %}
{% for item_type in item_types %}
{% set added_count = ctx.changes[item_type] | selectattr('type', 'equalto', 'added') | count %}
{% set renamed_count = ctx.changes[item_type] | selectattr('type', 'equalto', 'renamed') | count %}
{% set obsoleted_count = ctx.changes[item_type] | selectattr('type', 'equalto', 'obsoleted') | count %}
{% set uncategorized_count = ctx.changes[item_type] | selectattr('type', 'equalto', 'uncategorized') | count %}
{% set removed_count = ctx.changes[item_type] | selectattr('type', 'equalto', 'removed') | count %}
{{ ((item_type | title_case) ~ " Changes") | ansi_green }}
    Added         : {{ added_count }}
    Renamed       : {{ renamed_count }}
    Obsoleted     : {{ obsoleted_count }}
    Uncategorized : {{ uncategorized_count }}
    Removed       : {{ removed_count }}
    
{% endfor %}
