{{ "Diagnostic report" | ansi_bold | ansi_red }}:
{% for item in ctx %}
{%- if item.error.type == "policy_violation" %}
Violation: {{ item.error.violation.id | ansi_bold | ansi_green }}
  - Category         : {{ item.error.violation.category | ansi_cyan }}
  - Type             : {{ item.error.violation.type | ansi_cyan }}
  - SemConv group    : {{ item.error.violation.group | ansi_cyan }}
  - SemConv attribute: {{ item.error.violation.attr | ansi_cyan }}
  - Provenance: {{ item.error.provenance | ansi_cyan }}
{% else %}
{{ item.diagnostic.ansi_message }}
{% endif %}
{%- endfor %}