{#
  Copyright The OpenTelemetry Authors
  SPDX-License-Identifier: Apache-2.0
  This file is:
  - a Jinja template,
  - used to generate semantic conventions,
  - using weaver.
  For doc on the template syntax:
  https://jinja.palletsprojects.com/en/3.0.x/
  For doc on the semantic conventions:
  https://github.com/open-telemetry/semantic-conventions
  For doc on weaver:
  https://github.com/open-telemetry/weaver
#}

{{ "Diagnostic report" | ansi_bold | ansi_red }}:
{% for item in ctx %}
{%- if item.error.type == "policy_violation" %}{# TODO - support levels. #}
Violation: {{ item.error.violation.id | ansi_bold | ansi_green }}
  - Message   : {{ item.error.violation.message | ansi_cyan }}
  - Level     : {{ item.error.violation.level | ansi_cyan }}
  - Context   : {% for key in item.error.violation.context %}
    - {{ key }} : {{ item.error.violation.context[key] | ansi_cyan }}{% endfor%}
  - Provenance: {{ item.error.provenance | ansi_cyan }}
{% else %}
{{ item.diagnostic.ansi_message }}
{% endif %}
{%- endfor %}