name: Security Audit

permissions:
  contents: read

on:
  pull_request:
    paths:
      - '**/Cargo.toml'
      - '**/Cargo.lock'
  push:
    branches:
      - main

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  # security_audit:
  #   permissions:
  #     issues: write # to create issues (actions-rs/audit-check)
  #     checks: write # to create check (actions-rs/audit-check)
  #   runs-on: ubuntu-latest
    # Prevent sudden announcement of a new advisory from failing ci:
    # continue-on-error: true
    # steps:
    #   - name: Checkout repository
    #     uses: actions/checkout@v4
    #   - uses: actions-rs/audit-check@v1
    #     with:
    #       token: ${{ secrets.GITHUB_TOKEN }}

  cargo_deny:
    permissions:
      issues: write # to create issues (actions-rs/audit-check)
      checks: write # to create check (actions-rs/audit-check)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        checks:
          - bans licenses sources
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979 # v2.0.15
        with:
          command: check ${{ matrix.checks }}
          rust-version: stable
